@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body{
  font-family: "Roboto", sans-serif;
  background-color: #FFFFFF;
}

.recipe-info{
  position: fixed; 
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
  width: 650px;
  height: 650px;
  border-radius: 20px;
  z-index: 10000;
  max-width: 90vw; 
  max-height: 90vh; 
}

.overlay{
  position: fixed; 
  top: 0;
  left: 0;
  width: 100vw; 
  height: 100vh; 
  background-color: rgba(0,0,0,0.7);
  z-index: 9999; 
}

@media (max-width: 768px) {
  .recipe-info {
    width: 95vw;
    height: 85vh;
    border-radius: 15px;
  }
}